<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bolts" version="1.4.0.1" targetFramework="monoandroid60" />
  <package id="CallygraphyXamarin" version="2.2.0" targetFramework="monoandroid60" />
  <package id="Glide.Xamarin" version="3.7.0" targetFramework="monoandroid60" />
  <package id="HockeySDK.Xamarin" version="4.1.1" targetFramework="monoandroid60" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid60" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid60" />
  <package id="RestSharp" version="105.2.3" targetFramework="monoandroid60" />
  <package id="Square.OkHttp" version="2.4.0.0" targetFramework="monoandroid60" />
  <package id="Square.OkIO" version="1.5.0.0" targetFramework="monoandroid60" />
  <package id="Square.Picasso" version="2.5.2.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.CustomTabs" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Facebook.Android" version="4.16.1" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Base" version="29.0.0.2" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Basement" version="29.0.0.2" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Gcm" version="29.0.0.2" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Measurement" version="29.0.0.2" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Plus" version="29.0.0.2" targetFramework="monoandroid60" />
</packages>